@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');    
@import "tailwindcss";

@theme {
    --color-dark: #000000;
    --color-contrast: #003f52;
    --color-card: #ffffff;
    --color-tag: #000000;
    --color-primary: #ffffff;
    --color-secondary: #95a3bd;
    --color-thirtiary: #000000;
    --color-accent: #0096c4;
    --color-error: 	#DA3633;
    --color-success: #3FB950;
    --font-roboto: "Roboto", sans-serif; 
}